[submodule "libs/sokol"]
	path = libs/sokol
	url = https://github.com/floooh/sokol.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
[submodule "tools/emsdk"]
	path = tools/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "libs/box2d"]
	path = libs/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "libs/jolt"]
	path = libs/jolt
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "libs/SDL3"]
	path = libs/SDL3
	url = https://github.com/libsdl-org/SDL.git
